.cartItem {
  display: flex;
  /* height: 250px; */
}

.cartItem .action-button {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.cartItem .left-block {
  /* height:100px; */
  width: 150px;
  background-color: #777;
  border-radius: 2px;
  margin: 10px;
}

.cartItem .right-block {
  border-radius: 5px solid black;
  margin: 10px;
}

.cartItem .action-button:hover {
  cursor: pointer;
}

.navbar {
  height: 70px;
  background-color: rgb(16, 99, 207);
  display:flex;
  justify-content: flex-end;
  align-items:center;
}

.navbar .cart-icon-container {
    position: relative;
    margin-right:10px;
}

.navbar .cart-icon {
    height: 40px;
    margin-right: 20px;
}

.navbar .cart-count{
    background-color: rgb(229, 243, 31);
    padding: 4px 8px;
    border-radius: 50%;
    position:absolute;
    right:0;
    top:-9;
}
