
.cartItem {
    display: flex;
    /* height: 250px; */
}

.cartItem .action-button {
    height: 25px;
    weight: 25px;
    margin-right: 10px;
}

.cartItem .left-block {
    /* height:100px; */
    width:150px;
    background-color: #777;
    border-radius: 2px;
    margin: 10px;
}

.cartItem .right-block{
    border-radius: 5px solid black;
    margin: 10px;
}

.cartItem .action-button:hover {
    cursor: pointer;
}
